

{% for block in section.blocks %}
{% if block.type == 'QA' %}
<div class="faq">
        <div class="question">
            <input type="checkbox" id="question-{{ forloop.index }}" class="question-toggle">
            <label for="question-{{ forloop.index }}" class="question-label">{{block.settings.question}}</label>
            <div class="answer">{{block.settings.answer}}</div>
        </div>	
    </div>
    {% elsif block.type == 'headline' %}
        <h2 class='margin-top'>{{block.settings.title}}</h2> 
    {% endif %}
{% endfor %}


{% schema %}
    {
        "name": "customer questions",
        "settings": [
        {
            "type": "text",
            "label": "heading for faq",
            "id": "heading"
        }
     
        ],
        "blocks": [
            {
                "type": "QA",
                "name": "Question/Answer",
                "settings": [
                    {
                        "type": "text",
                        "label": "title (internal only)",
                        "id": "title"
                    }, 
                    {
                        "type": "text",
                        "label": "customer questions",
                        "id": "question"
                    }, 
                    {
                        "type": "text",
                        "label": "customer answers",
                        "id": "answer"
                    }

                ]

            },
            {
                "type": "headline",
                "name": "headine",
                "settings": [
                    {
                    "type": "text",
                    "label": "headline",
                    "id": "title"
                    }
                    
                ]
            }
        ]
    }
{% endschema %}
